/* Default values for desktop view */
body {
    background-color: rgb(237, 242, 248);
    /* border: 2px solid blue; */
}

* { border: 1px solid black; }

/* If the screen size is 500 pixels or less, apply these changes
* to account for MOBILE view */
@media screen and (max-width: 500px) {
    body {
        width: auto;
        height: auto;
    }

    .drawer {
        height: 30%;
        width: 86%;
        border-radius: 15px 15px 0% 0%;
        object-position: 0 27%;
        top: 11%;
        left: 7%;
    }

    .preview {
        height: 47%;
        width: 86%;
        border-radius: 0% 0% 15px 15px;
        top: 41%;
        left: 7%;
    }

    h3 {
        height: 20%;
        width: 80%;
        font-size: 4vw;
        top: 4%;
        left: 10%;
        line-height: 1.6;
    }

    p {
        height: 30%;
        width: 75%;
        font-size: 3.75vw;
        left: 10%;
        top: 5%;
        word-spacing: 1px;
        line-height: 1.2;
    }

    .avatar {
        left: 10%;
    }

    .nameAndDate {
        left: 10%;
    }

    .avatar_name {
        bottom: 5%;
        left: 10%;
    }

    /*  .date {
        left: 28%;
        top: 21%;
    }

    .button {
        left: 75%;
        top: 5%;
    }   */
}

/* If the screen size is 501 pixels or more, apply these changes
* to account for DESKTOP view */
@media screen and (min-width: 501px) {
    body {
        width: 1440px;
        height: 800px;
    }

    .drawer {
        height: 280px;
        width: 285px;
        border-radius: 15px 0% 0% 15px;
        object-position: 0 100%;
        top: 260px;
        left: 355px;
    }

    .preview {
        height: 280px;
        width: 445px;
        border-radius: 0px 15px 15px 0px;
        top: 260px;
        left: 640px;
    }

    h3 {
        width: 380px;
        font-size: 21px;
        left: 40px;
        top: 10px;
        line-height: 1.4;
    }

    p {
        width: 380px;
        font-size: 14px;
        left: 40px;
        line-height: 1.4;
    }

    .avatar {
        left: 40px;
    }

    .nameAndDate {
        left: 40px;
    }

    .avatar_name {
        bottom: 10px;
        left: 10px;
    }

    /*  .date {
        bottom: 38px;
        left: 95px;
    }

    .button {
        left: 380px;
        bottom: 80px;
    }   */
}

.drawer {
    position: absolute;
    object-fit: cover;
}

.preview {
    background-color: white;
    position: absolute;
}

h3, p, .avatar_name, .date, .share-text {
    font-family: Manrope;
}

h3, .avatar_name {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

p, .date, .share-text {
    font-weight: 500;
}

h3 {
    position: relative;
}

p {
    color: hsl(214, 17%, 51%);
    position: relative;
}

.bottomRow {
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.avatar {
    width: 40px;
    height: 40px;
    position: relative;
    clip-path: circle(50%);
    float: left;
}

.nameAndDate {
    height: 100%;
    position: relative;
    float: left;
    background-color: rgb(124, 84, 23);
}

.avatar_name {
    width: fit-content;
    position: relative;
}

.date {
    width: fit-content;
    color: hsl(212, 23%, 69%);
    font-size: 12px;
    position: relative;
}

.button {
    width: 40px;
    position: relative;
    float: right;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(237, 241, 250);
}

.arrow {
    position: relative;
    left: 25%;
    top: 20%;
}

.share {
    background-color: rgb(73, 85, 107);
    height: 55px;
    width: 250px;
    border-radius: 15px;
    position: relative;
    bottom: 203px;
    left: 265px;
}

.triangle {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(73, 85, 107);
    position: absolute;
    top: 55px;
    left: 44%;
}

.share-text {
    color: hsl(210, 46%, 95%);
    font-size: 14px;
    letter-spacing: 5px;
    position: relative;
    top: 33%;
    left: 32px;
    display: inline;
}

.facebook {
    position: absolute;
    top: 29%;
    left: 50%;
}

.twitter {
    position: absolute;
    top: 31%;
    left: 64%;
}

.pinterest {
    position: absolute;
    top: 28%;
    left: 77%;
}
