/* Default values for desktop view */
body {
    background-color: rgb(237, 242, 248);
}

/* * { border: 1px solid black; } */

/* If the screen size is 500 pixels or less, apply these changes
* to account for MOBILE view */
@media screen and (max-width: 500px) {
    body {
        width: auto;
        height: auto;
    }

    .drawer {
        height: 30%;
        width: 86%;
        border-radius: 15px 15px 0% 0%;
        object-position: 0 27%;
        top: 11%;
        left: 7%;
    }

    .preview {
        height: 47%;
        width: 86%;
        border-radius: 0% 0% 15px 15px;
        top: 41%;
        left: 7%;
    }

    h3, p, .avatar, .nameAndDate, .avatar_name, .date, .share-text {
        left: 10%;
    }

    h3 {
        height: 20%;
        width: 80%;
        font-size: 4vw;
        top: 4%;
        line-height: 1.6;
    }

    p {
        height: 30%;
        width: 80%;
        font-size: 3.75vw;
        top: 5%;
        word-spacing: 1px;
        line-height: 1.2;
    }

    .avatar_name {
        font-size: 3.5vw;
        top: -10%;
    }

    .date {
        top: -30%;
    }

     .button {
        right: 10%;
        bottom: 5%;
    }

    .share {
        height: 140%;
        width: 100%;
        border-radius: 0px 0px 15px 15px;
        bottom: 40%;
    }

    .share-text {
        height: 27%;
        width: 20%;
        top: 18%;
        font-size: 4vw;
        letter-spacing: 5px;
    }

    .facebook, .twitter, .pinterest {
        width: 8%;
        padding-top: 0%;
    }

    .facebook {
        top: 32%;
        left: 35%;
    }

    .twitter {
        top: 35%;
        left: 48%;
    }

    .pinterest {
        top: 33%;
        left: 61%;
    }
}

/* If the screen size is 501 pixels or more, apply these changes
* to account for DESKTOP view */
@media screen and (min-width: 501px) {
    body {
        width: 1440px;
        height: 800px;
    }

    .drawer {
        height: 280px;
        width: 285px;
        border-radius: 15px 0% 0% 15px;
        object-position: 0 100%;
        top: 260px;
        left: 355px;
    }

    .preview {
        height: 280px;
        width: 445px;
        border-radius: 0px 15px 15px 0px;
        top: 260px;
        left: 640px;
    }

    h3, p, .avatar, .nameAndDate {
        left: 40px;
    }

    h3 {
        width: 380px;
        font-size: 21px;
        top: 10px;
        line-height: 1.4;
    }

    p {
        width: 380px;
        font-size: 14px;
        line-height: 1.4;
    }

    .avatar_name {
        bottom: 25%;
        left: 7%;
    }

    .date {
        bottom: 45%;
        left: 7%;
    }

    .button {
        right: 30px;
    }

    .share {
        height: 55px;
        width: 250px;
        border-radius: 15px;
        bottom: 90px;
        left: 265px;
    }

    .triangle {
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid rgb(73, 85, 107);
        top: 55px;
        left: 44%;
    }

    .share-text {
        top: 2px;
        left: 30px;
        width: 30%;
        font-size: 14px;
        letter-spacing: 5px;
    }

    .facebook {
        top: 29%;
        left: 50%;
    }

    .twitter {
        top: 31%;
        left: 64%;
    }

    .pinterest {
        top: 28%;
        left: 77%;
    }

}

.drawer {
    object-fit: cover;
}

.preview {
    background-color: white;
}

h3, p, .avatar_name, .date, .share-text {
    font-family: Manrope;
}

h3, .avatar_name {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

.drawer, .preview, .bottomRow, .triangle,
.share-text, .facebook, .twitter, .pinterest {
    position: absolute;
}

h3, p, .avatar, .nameAndDate, .avatar_name,
.date, .button, .arrow, .share {
    position: relative;
}

p, .date, .share-text {
    font-weight: 500;
}

p {
    color: hsl(214, 17%, 51%);
}

.bottomRow {
    height: 20%;
    width: 100%;
    bottom: 0;
}

.avatar {
    width: 40px;
    height: 40px;
    float: left;
    clip-path: circle(50%);
}

.nameAndDate {
    width: 40%;
    height: 100%;
    float: left;
}

.avatar_name {
    width: 90%;
}

.date {
    width: 90%;
    color: hsl(212, 23%, 69%);
    font-size: 12px;
}

.button {
    width: 40px;
    height: 40px;
    float: right;
}

.circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(237, 241, 250);
}

.arrow {
    width: 50%;
    height: 40%;
    left: 25%;
    top: 25%;
}

.share {
    background-color: rgb(73, 85, 107);
}

.share-text {
    color: hsl(210, 46%, 95%);
}
