/* Default values for desktop view */
body {
    background-color: rgb(237, 242, 248);
    /* border: 2px solid blue; */
}

/* * { border: 1px solid black; } */

/* If the screen size is 500 pixels or less, apply these changes
* to account for MOBILE view */
@media screen and (max-width: 500px) {
    body {
        width: auto;
        height: auto;
    }

    .drawer {
        height: 30%;
        width: 87%;
        border-radius: 15px 15px 0% 0%;
        object-position: 0 27%;
        top: 74px;
        left: 24px;
    }

    .preview {
        height: 47%;
        width: 87%;
        border-radius: 0% 0% 15px 15px;
        top: 274px;
        left: 24px;
    }

    h3 {
        width: 80%;
        font-size: 16px;
        left: 35px;
        top: 20px;
        line-height: 1.6;
    }

    p {
        width: 75%;
        font-size: 12px;
        left: 35px;
        top: 25px;
        word-spacing: 1px;
        line-height: 1.4;
    }

    #avatar {
        left: 35px;
        top: 45px;
    }

    .avatar_name {
        bottom: 30px;
        left: 45px;
    }

    .button {
        left: 200px;
        bottom: 80px;
    }
}

/* If the screen size is 501 pixels or more, apply these changes
* to account for DESKTOP view */
@media screen and (min-width: 501px) {
    body {
        width: 1440px;
        height: 800px;
    }

    .drawer {
        height: 280px;
        width: 285px;
        border-radius: 15px 0% 0% 15px;
        object-position: 0 100%;
        top: 260px;
        left: 355px;
    }

    .preview {
        height: 280px;
        width: 445px;
        border-radius: 0px 15px 15px 0px;
        top: 260px;
        left: 640px;
    }

    h3 {
        width: 380px;
        font-size: 21px;
        left: 40px;
        top: 10px;
        line-height: 1.4;
    }

    p {
        width: 380px;
        font-size: 14px;
        left: 40px;
        line-height: 1.4;
    }

    #avatar {
        left: 40px;
        top: 10px;
    }

    .avatar_name {
        bottom: 15px;
        left: 50px;
    }

    .button {
        left: 380px;
        bottom: 80px;
    }
}

.drawer {
    position: absolute;
    object-fit: cover;
}

.preview {
    background-color: white;
    position: absolute;
}

h3, p, .avatar_name, .date, .share-text {
    font-family: Manrope;
}

h3, .avatar_name {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

p, .date, .share-text {
    font-weight: 500;
}

h3 {
    position: relative;
}

p {
    color: hsl(214, 17%, 51%);
    position: relative;
}

#avatar {
    width: 40px;
    height: 40px;
    clip-path: circle(50%);
    position: relative;
}

.avatar_name {
    width: 130px;
    display: inline-block;
    position: relative;
}

.date {
    color: hsl(212, 23%, 69%);
    font-size: 12px;
    position: relative;
    bottom: 38px;
    left: 95px;
}

.button {
    width: 40px;
    position: relative;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(237, 241, 250);
}

.arrow {
    position: relative;
    left: 25%;
    top: 20%;
}

.share {
    background-color: rgb(73, 85, 107);
    /* display: none; */
    height: 55px;
    width: 250px;
    border-radius: 15px;
    position: relative;
    bottom: 203px;
    left: 265px;
}

.triangle {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(73, 85, 107);
    position: absolute;
    top: 55px;
    left: 44%;
}

.share-text {
    color: hsl(210, 46%, 95%);
    font-size: 14px;
    letter-spacing: 5px;
    position: relative;
    top: 33%;
    left: 32px;
    display: inline;
}

.facebook {
    position: absolute;
    top: 29%;
    left: 50%;
}

.twitter {
    position: absolute;
    top: 31%;
    left: 64%;
}

.pinterest {
    position: absolute;
    top: 28%;
    left: 77%;
}
