body {
    background-color: rgb(237, 242, 248);
    max-height: 800px;
    max-width: 1440px;
}

.drawer {
    height: 280px;
    width: 285px;
    border-radius: 15px 0% 0% 15px;
    object-fit: cover;
    object-position: 0 100%;
    position: absolute;
    top: 260px;
    left: 355px;
}

.preview {
    height: 280px;
    width: 445px;
    background-color: white;
    border-radius: 0px 15px 15px 0px;
    position: absolute;
    top: 260px;
    left: 640px;
}

h3 {
    color: rgb(75, 87, 103);
    font-family: Helvetica;
    font-size: 21px;
    position: relative;
    left: 40px;
    top: 10px;
    line-height: 1.4;
}

p {
    color: #727983;
    font-family: Helvetica;
    font-size: 14px;
    position: relative;
    left: 40px;
    line-height: 1.4;
}

#avatar {
    width: 40px;
    height: 40px;
    clip-path: circle(50%);
    position: relative;
    left: 40px;
    top: 10px;
}

.avatar_name {
    color: rgb(75, 87, 103);
    font-family: Helvetica;
    font-weight: bold;
    /* font-size: 13px; */
    display: inline-block;
    position: relative;
    bottom: 15px;
    left: 50px;
}

.date {
    color: rgb(168, 175, 183);
    font-family: Helvetica;
    font-size: 12px;
    position: relative;
    bottom: 38px;
    left: 95px;
}

.button {
    position: relative;
    left: 380px;
    bottom: 80px;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(237, 241, 250);
}

.arrow {
    position: relative;
    left: 25%;
    top: 20%;
}

.share {
    display: none;
    height: 55px;
    width: 250px;
    border-radius: 15px;
    position: relative;
    bottom: 203px;
    left: 265px;
}

.button:hover + .share {
    background-color: rgb(73, 85, 107);
    display: block;
}

.triangle {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(73, 85, 107);
    position: absolute;
    top: 55px;
    left: 44%;
}

.share > p {
    color: #FFF;
    font-size: 14px;
    letter-spacing: 5px;
    position: relative;
    top: 33%;
    left: 32px;
    /* border: 2px solid black; */
    display: inline;
}

.facebook {
    /* border: 2px solid black; */
    position: absolute;
    top: 29%;
    left: 50%;
}

.twitter {
    /* border: 2px solid black; */
    position: absolute;
    top: 31%;
    left: 64%;
}

.pinterest {
    /* border: 2px solid black; */
    position: absolute;
    top: 28%;
    left: 77%;
}
