body {
    background-color: rgb(237, 242, 248);
    height: 800px;
    width: 1440px;
}

.drawer {
    height: 280px;
    width: 285px;
    border-radius: 15px 0% 0% 15px;
    object-fit: cover;
    object-position: 0 100%;
    position: absolute;
    top: 260px;
    left: 355px;
}

.preview {
    height: 280px;
    width: 445px;
    background-color: white;
    border-radius: 0px 15px 15px 0px;
    position: absolute;
    top: 260px;
    left: 640px;
}

h3, p, .avatar_name, .date, .share-text {
    font-family: Manrope;
}

h3, .avatar_name {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

p, .date, .share-text {
    font-weight: 500;
}

h3 {
    font-size: 21px;
    position: relative;
    left: 40px;
    top: 10px;
    line-height: 1.4;
}

p {
    color: hsl(214, 17%, 51%);
    font-size: 14px;
    position: relative;
    left: 40px;
    line-height: 1.4;
}

#avatar {
    width: 40px;
    height: 40px;
    clip-path: circle(50%);
    position: relative;
    left: 40px;
    top: 10px;
}

.avatar_name {
    display: inline-block;
    position: relative;
    bottom: 15px;
    left: 50px;
}

.date {
    color: hsl(212, 23%, 69%);
    font-size: 12px;
    position: relative;
    bottom: 38px;
    left: 95px;
}

.button {
    position: relative;
    left: 380px;
    bottom: 80px;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(237, 241, 250);
}

.arrow {
    position: relative;
    left: 25%;
    top: 20%;
}

.share {
    background-color: rgb(73, 85, 107);
    /* display: none; */
    height: 55px;
    width: 250px;
    border-radius: 15px;
    position: relative;
    bottom: 203px;
    left: 265px;
}

.triangle {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(73, 85, 107);
    position: absolute;
    top: 55px;
    left: 44%;
}

.share-text {
    color: hsl(210, 46%, 95%);
    font-size: 14px;
    letter-spacing: 5px;
    position: relative;
    top: 33%;
    left: 32px;
    display: inline;
}

.facebook {
    position: absolute;
    top: 29%;
    left: 50%;
}

.twitter {
    position: absolute;
    top: 31%;
    left: 64%;
}

.pinterest {
    position: absolute;
    top: 28%;
    left: 77%;
}
